Altoria_Quest/Assets/Fonts/NotoSansJP-Regular[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Altoria_Quest_beta_forWindows/Altoria_Quest_Data/sharedassets1.assets.resS filter=lfs diff=lfs merge=lfs -text
